@using EF.DAO;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - My Website</title>
    <link href="~/Asset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />
    <!-- Bootstrap core JavaScript-->
    <script src="~/Asset/vendor/jquery/jquery.min.js"></script>
    <script src="~/Asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                
                <div class="sidebar-brand-text mx-3">ALKTravel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang quản trị</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Start/Index" target="_blank">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang nhà xe</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div><!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Nhân sự</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lí nhân sự: </h6>
                        <a class="collapse-item" href="@Url.Action("Index","User")"> Tài khoản</a>
                        <a class="collapse-item" href="@Url.Action("Index","Custommer")">Nhân viên</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Tác vụ:</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý tác vụ: </h6>
                        <a class="collapse-item" href="@Url.Action("Index","HoadonMN")">Duyệt hóa đơn</a>
                        <a class="collapse-item" href="@Url.Action("Index","KiGui")">Kí gửi</a>

                    </div>
                </div>
            </li>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Nhà xe:</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nhà xe: </h6>
                        <a class="collapse-item" href="@Url.Action("Index","TuyenXe")">Tuyến xe</a>
                        <a class="collapse-item" href="@Url.Action("Index","ChuyenXe")">Chuyến xe</a>
                        <a class="collapse-item" href="@Url.Action("Index","Xe")">Xe</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ListView","ChuyenXe")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Xem lịch chuyến</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <!--Chỗ này là dùng để HIỂN THỊ SESSION -->
                                    @{
                                        var session = Session[UserDao.USER_SESSION];
                                        @session
                                    }
                                </span>
                                <img class="img-profile rounded-circle"
                                     src="~/Asset/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Detail","Home")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- /.container-fluid -->
                <!--SECTION LÀ MỘT ĐOẠN NỘI DUNG HIỂN THỊ BẰNG BIẾN. vÍ DỤ PHÍA DƯỚI LÀ HIỂN THỊ SECTION HEADER.-->
                <section class="container-fluid header-Title">
                    <header>
                        <b>@RenderSection("Header", required: true)</b>
                    </header>
                </section>
                <!--SET TEMPDATA ĐỂ TẠO THÔNG BÁO THÀNH CÔNG CỦA CÁC TÁC VỤ-->
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="form-group">
                        <div class="control-label col-md-10">
                            <div class="alert @TempData["AlertType"] hide " role="alert" id="AlertBox">
                                @TempData["AlertMessage"]
                            </div>
                        </div>
                    </div>
                }
                <!--RENDERBODY() DÙNG ĐỂ HIỂN THỊ TOÀN BỘ NỘI DUNG BÊN TRANG CON ĐÃ GẮN ĐƯỜNG DẪN-->
                @RenderBody()

            </div>

            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn LogOut để đăng xuất</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Logout","Home")">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Core plugin JavaScript-->
    <script src="~/Asset/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Asset/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Asset/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Asset/js/demo/chart-area-demo.js"></script>
    <script src="~/Asset/js/demo/chart-pie-demo.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!-- Custom styles for this template-->
    <link href="~/Asset/css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        $(function () {
            $("#AlertBox").removeClass("hide");
            $("#AlertBox").delay("5000").slideUp("500");
        });
        //resonsive
        $(window).resize(function () {
            var width = $(window).width();

            if (width < 1200 && document.getElementById('accordionSidebar').classList.contains('toggled') == false) {
                document.getElementById('accordionSidebar').classList.add('toggled');
        }
        });

    </script>
</body>
</html>
